<br>

<!-- Trigger the modal with a button-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add a place</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add your place</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form  role="form" id="upload-form" method = "post" action="">
                    <fieldset>
                        <legend><span class="number">1</span> Location Information</legend>
                        <input class="form-control" type="text" name="field1" id = "LocName" placeholder="Place Name">
                        <br>

                        <textarea class="form-control" name="field3" id = "Aboutlocation-up" placeholder="What this place means to you"></textarea>
                        <br>


                    </fieldset>
                    <fieldset></fieldset>

                    <legend><span class="number">2</span> Images</legend>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

                        <label class="custom-file-label" for="inputGroupFile01"> Upload Image</label>
                       <!-- <pre>Make and model: <span id="makeAndModel"></span></pre> -->
                        <br>
                    </div>
                    <br>
                    <br>
                    <legend><span class="number">3</span> Sounds</legend>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                        <br>
                        <label class="custom-file-label" for="inputGroupFile02"> Upload Audio</label>
                    </div>
                    <br>
                    <br>
                    <legend><span class="number">4</span> Longitude and Latitude</legend>
                    <input class="form-control" type="text" name="field5" id = "LocLong" placeholder="Longitude">
                    <br>

                    <input class="form-control" type="text" name="field6" id = "LocLat" placeholder="Latitude">
                    <br>
                    <br>
                    </fieldset>
                     <input type="submit" value="Submit" />

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<br>
<div class="container" id="placeDiv">
    <p class="text-center">Go back to your favourite places</p>
{{#each place}}
    <a id="userData" href = "/placePage/{{_id}}" >
        <img src = '/images/national_park_{{NumberOfImage}}.jpg' height="100" width="100" class="img-fluid" alt="Responsive image" >
    <h4>{{Name}}</h4>
    </a>
{{/each}}
<br>
    <br>
    <div class = "placeDiv"></div>

    <div class="row justify-content-center">
        <a id="whereamIbutton" class="btn btn-primary" href="/place" role="button">Where am I?</a>
    </div>

</div>