<br><br/>
<h1 class="display-5">Discover your place...</h1>
<br><br/>
<div class="embed-responsive embed-responsive-4by3">
    <iframe allowfullscreen="yes" scrolling="no" allowvr="yes"
            srcdoc="<html><head><script src='https://aframe.io/releases/0.8.0/aframe.min.js'></script></head><body>
                    <a-scene>
                        <a-sky src='/images/uploads/national_park_1.jpg'></a-sky>
                    </a-scene></body></html>">
    </iframe>
</div>
<br><br/>