<div class="container">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe allowfullscreen="yes" scrolling="no" allowvr="yes"
                srcdoc="<html><head><script src='https://aframe.io/releases/0.8.0/aframe.min.js'></script></head><body>
                <a-scene>
                <a-sky src='/images/national_park_2.jpg'></a-sky>
            </a-scene></body></html>"></iframe>
    </div>
    <div class="row justify-content-center">
        <a id="whereamIbutton" class="btn btn-primary" href="/place" role="button">Where am I?</a>
    </div>
</div>
