<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
    <link rel="icon" href="images/android-chrome-192x192.png">
    <link rel='stylesheet' href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <img src="images/search-location-solid.svg" style="width: 5%;" alt="magnifying glass over location marker"
                         class="img-fluid">
                    <a class="navbar-brand" href="/">Gaia</a>
                </nav>
            </div>
        </div>
    </div>
</header>

{{{body}}}

<footer>
    <div class="container">
        <div class="col-lg">
            <p class="pull-left">Copyright 2018 &copy; NUIGalway</p>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a target="_blank" href="https://twitter.com"><i class="fa fa-lg fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://snapchat.com"><i class="fa fa-lg fa-snapchat"></i></a></li>
                    <li><a target="_blank" href="https://linkedin.com"><i class="fa fa-lg fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com"><i class="fa fa-lg fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com"><i class="fa fa-lg fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>